
<h3>Title </h3>
<p> <%= @task.title %> </p>
<br>
<h3>Due date </h3>

<p> <%= @task.due_date %> </p>
<br>
<h3>Task type </h3>

<p> <%= @task.task_type %> </p>
<br>
<h3>Business name </h3>

  
                <td><%= Business.find(@task.business_id).name %></td>
<br>


<h3>Members are: </h3>

<%Business.find(@task.business_id).business_users.each do |b|%>
<%= User.find(b.user_id).username%><br>
<%end%>

<%= Business.find(@task.business_id).business_users.where(user_id:  current_user).present? %>
<h3>Created by:</h3>
<%= User.find(Business.find(@task.business_id).owner_id).username%>
<h3>Image is: </h3>

<img src=" <%= @task.img  %>" >


  