<h1> User Page </h1>

<%= link_to "Create New end user", new_user_path %>
<br>
<br>
<br>
<div id="target-for-change">
  Associated Business section
  
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">User name</th>
      <th scope="col">Eamil</th>
    </tr>
  </thead>
  <tbody>
    <th scope="row"></th>
    <% @users.each do |e| %>
      <tr>
        <td><%= link_to e.username ,user_path(e)%></td>
        <td><%= e.email %></td>
        <td> <%= link_to "Edit", edit_user_path(e) %></td>
        <td> <%= link_to 'Delete', user_path(e), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%=select_tag "Associated Businesses", options_for_select(e.businesses.map{|m| m.name}) %></td>
     <td><%= link_to 'Associated Businesses', user_path(e), remote: true %></td>

      </tr>

    <%end%>
  </tbody>
</table>




